.input-group_form {
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 38px;
}
.ant-select-selector,
.selection-group_form {
  width: 100% !important;
  height: 38px !important;
  border-radius: 0.5rem !important;
}
.input-group_form::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #66799e;
}
label {
  font-size: 16px !important;
}
table {
  border: 1px solid #cacaca !important;
}
