.signIn {
  max-width: 1120px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  height: 100vh;
}
.layout-signin {
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 60px 50px;
  background-color: white;
  border-radius: 10px;
}
.title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #171725;
  margin-top: 80px;
}
.register {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #808191;
}
.register-link {
  font-weight: 500;
  font-size: 14px;
  color: #355bc0;
}
.register-link:hover {
  color: #0538c1;
}
.inputPass,
.inputUser {
  padding: 0px 25px;
  font-weight: 500;
  font-size: 14px;
  color: black;
  height: 45px;
}
.inputPass::placeholder,
.inputUser::placeholder {
  color: #b2b3bd;
}
.username {
  position: relative;
}

.iconEye {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 99;
}
.remember {
  display: flex;
  justify-content: end;
}
.signInBtn {
  background-color: rgb(38, 43, 64);
  color: white;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
}
:where(.css-dev-only-do-not-override-3oxuke).ant-input:hover {
  border-color: #1dc071;
  border-inline-end-width: 1px;
}
:where(.css-dev-only-do-not-override-3oxuke).ant-input-affix-wrapper:not(
    :where(
        .css-dev-only-do-not-override-3oxuke
      ).ant-input-affix-wrapper-disabled
  ):hover {
  border-color: #1dc071;
}
:where(.css-dev-only-do-not-override-3oxuke).ant-btn-primary:not(
    :disabled
  ):hover {
  color: #fff;
  background-color: #1dc071;
}
:where(.css-dev-only-do-not-override-3oxuke).ant-input-affix-wrapper
  .anticon.ant-input-password-icon {
  font-size: 20px;
}
:where(.css-dev-only-do-not-override-1qhh31y).ant-btn-primary:not(
    :disabled
  ):hover {
  color: #fff;
}
.signIn .ant-form-item-control-input {
  text-align: center;
}
.password_container .ant-input-affix-wrapper {
  height: 40px !important;
  padding: 0px 11px !important;
}
.password_container .ant-input-affix-wrapper input {
  height: 38px !important;
}
.password_container .anticon-eye-invisible {
  line-height: 34px;
}
.Sign_in {
  width: 100%;
  display: flex;
  border: 1px solid rgb(38, 43, 64);
  border-radius: 10px;
  background-color: white;
}
.SignIn_left {
  width: 50%;
  height: 100%;
  position: relative;
}
.SignIn_right {
  height: 100%;
  width: 50%;
  padding: 40px;
}
.Sign_in img {
  height: 600px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.SignIn_left::before {
  content: "";
  position: absolute;
  inset: 0px;
  background-color: rgba(28, 28, 28, 0.65);
}
